// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;

    a {
      color: #a94442;
      font-weight: bold;
    }
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;

}